@font-face {
  font-family: Poppins;
  src: url("Fonts/Poppins/Poppins-SemiBold.ttf");
}

* {
  font-family: Poppins;
}

.digmapiHelp {
  background-image: url(Image/BackgroundHelp.png);
  background-size: cover;
  background-attachment: local;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.digmapiFoto {
  width: 300px;
}

.divHelp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0 60px;
}

.divHelp1 img {
  width: 400px;
}

.divDipi {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.divDipi h1 {
  color: #db5066;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-family: montserrat;
  letter-spacing: 10px;
  font-weight: 900;
  margin: 0;
}

.divDipi p {
  background-color: #b43064;
  color: #ffe5e5;
  font-family: montserrat;
  padding: 37px;
  font-size: 22px;
  border-radius: 1.5rem;
  text-align: justify;
  margin: 10px 20px;
}

.button1 {
  border-radius: 1rem;
  border-style: none;
  opacity: 0.85;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, #fefefe 0.01%, #fffefe 53.5%, #eee8e9 70.6%, #e2d8db 83.5%);
  color: #b43064;
  font-family: montserrat;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 20px;
  text-align: center;
}

.divHelp2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.divHelp2 h1 {
  color: #db5066;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-family: montserrat;
  letter-spacing: 10px;
  font-weight: 900;
  margin: 0;
}

.divHelp2 p {
  background-color: #b43064;
  color: #ffe5e5;
  font-family: montserrat;
  padding: 37px;
  margin: 10px 300px;
  font-size: 22px;
  border-radius: 1.5rem;
  text-align: justify;
}
@media screen and (max-width: 769px) {
  .digmapiFoto {
    width: 150px;
  }

  .divHelp1 {
    padding: 0 40px;
    margin-top: 10px;
  }

  .divHelp1 img {
    width: 150px;
  }

  .divDipi h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .divDipi p {
    padding: 20px;
    font-size: 12px;
    margin: 5px 8px;
    border-radius: 1rem;
  }

  .button1 {
    border-radius: 0.35rem;
    font-weight: 600;
    padding: 2px 4px;
    font-size: 10px;
  }

  .divHelp2 {
    margin: 40px 20px 120px  20px;
  }

  .divHelp2 h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .divHelp2 p {
    padding: 20px;
    margin: 5px 60px;
    font-size: 12px;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 576px) {
  
  .digmapiFoto {
    width: 100px;
  }

  .divHelp1 {
    padding: 0 40px;
    margin-top: 10px;
  }

  .divHelp1 img {
    width: 100px;
  }

  .divDipi h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .divDipi p {
    padding: 10px;
    font-size: 8px;
    margin: 5px 8px;
    border-radius: 1rem;
  }

  .button1 {
    border-radius: 0.35rem;
    font-weight: 600;
    padding: 2px 4px;
    font-size: 8px;
  }

  .divHelp2 {
    margin: 50px 20px 100px 20px;
  }

  .divHelp2 h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 900;
  }

  .divHelp2 p {
    padding: 10px;
    margin: 5px 60px;
    font-size: 8px;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .digmapiFoto {
    width: 200px;
  }

  .divHelp1 {
    padding: 0 40px;
    margin-top: 10px;
  }

  .divHelp1 img {
    width: 200px;
  }

  .divDipi h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 900;
  }

  .divDipi p {
    padding: 20px;
    font-size: 15px;
    margin: 5px 8px;
    border-radius: 1rem;
  }

  .button1 {
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 2px 4px;
    font-size: 15px;
    margin-top: 5px;
  }

  .divHelp2 {
    margin: 50px 20px 350px  20px;
  }

  .divHelp2 h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    letter-spacing: 5px;
    font-weight: 900;
  }

  .divHelp2 p {
    padding: 20px;
    margin: 5px 60px;
    font-size: 15px;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 920px) {
  .digmapiFoto {
    width: 300px;
  }

  .divHelp1 {
    padding: 0 80px;
    margin-top: 10px;
  }

  .divHelp1 img {
    width: 300px;
  }

  .divDipi h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    letter-spacing: 8px;
    font-weight: 900;
  }

  .divDipi p {
    padding: 20px;
    font-size: 20px;
    margin: 5px 8px;
    border-radius: 1rem;
  }

  .button1 {
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 2px 4px;
    font-size: 20px;
    margin-top: 5px;
  }

  .divHelp2 {
    margin: 50px 60px 50px 60px;
  }

  .divHelp2 h1 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    font-size: 28px;
    letter-spacing: 8px;
    font-weight: 900;
  }

  .divHelp2 p {
    padding: 20px;
    margin: 5px 60px;
    font-size: 20px;
    border-radius: 1rem;
  }
}

@media screen and (min-width: 1270px) {
  .digmapiFoto {
    width: 300px;
  }

  .divHelp1 {
    padding: 0 60px;
  }

  .divHelp1 img {
    width: 400px;
  }

  .divDipi h1 {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 900;
    margin: 0;
  }

  .divDipi p {
    padding: 37px;
    font-size: 22px;
    border-radius: 1.5rem;
    margin: 10px 20px;
  }

  .button1 {
    border-radius: 1rem;
    padding: 5px 10px;
    font-size: 20px;
  }

  .divHelp2 {
    margin-bottom: 50px;
  }

  .divHelp2 h1 {
    font-size: 40px;

    letter-spacing: 10px;
    font-weight: 900;
    margin: 0;
  }

  .divHelp2 p {
    padding: 37px;
    margin: 10px 300px;
    font-size: 22px;
    border-radius: 1.5rem;
  }
}
