font-face {
  font-family: Poppins;
  src: url("Fonts/Poppins/Poppins-Regular.ttf");
}

* {
  font-family: Poppins;
}

.layer1 img {
  margin: 5vh 0;
}

.div-proker {
  background-image: url(Image/Awan\ Full.png);
  background-position: center;
  background-size: cover;
  background-attachment: local;
  height: 1100px;
  width: 100%;
}

.layer1 {
  padding: 8vh 5vh 5vh 5vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.proker-h2 {
  margin: 0;
  color: #fff;
  text-align: center;
  font-family: poppins;
  padding-top: 8vh;
  font-size: 45.502px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 769px) {
  .div-proker {
    background-image: url(Image/Awan\ Fulll.png);
    background-position: center;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    width: 100%;
  }

  .layer1 {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .layer1 img {
    margin: 3.5vh 0;
    padding: 0;
    width: 142px;
    height: 92.8px;
  }
  .proker-h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: poppins;
    padding-top: 3vh;
    font-size: 28px;
  }
}

@media screen and (max-width: 576px) {
  .div-proker {
    background-image: url(Image/Awan\ Fulll.png);
    background-position: center;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    width: 100%;
  }

  .layer1 {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .layer1 img {
    margin: 2vh 0;
    padding: 0;
    height: 76px;
    width: 121.4px;
  }
  .proker-h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: poppins;
    padding-top: 3vh;
    font-size: 25px;
  }
}

@media (min-width: 769px) {
  .div-proker {
    background-image: url(Image/Awan\ Fulll.png);
    background-position: center;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    width: 100%;
  }

  .layer1 {
    padding: 2vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .layer1 img {
    margin: 4vh 0;
    padding: 0;
    width: 170.67px;
    height: 111.34px;
  }
  .proker-h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: poppins;
    padding-top: 4vh;
    font-size: 30px;
  }
}

@media (min-width: 920px) {
  .div-proker {
    background-image: url(Image/Awan\ Full.png);
    background-position: center;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    width: 100%;
  }

  .layer1 {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .layer1 img {
    margin: 5vh 0;
    padding: 0;
    width: 213.34px;
    height: 139px;
  }
  .proker-h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: poppins;
    padding-top: 3vh;
    font-size: 35px;
  }
}

@media (min-width: 1270px) {
  .div-proker {
    background-image: url(Image/Awan\ Full.png);
    background-position: center;
    background-size: cover;
    background-attachment: local;
    height: 100%;
    width: 100%;
  }

  .layer1 {
    padding: 1vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  .layer1 img {
    margin: 4.5vh 0;
    padding: 0;
    width: 256px;
    height: 167px;
  }
  .proker-h2 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-family: poppins;
    padding-top: 5vh;
    font-size: 40px;
  }
}
